In [36]:
import pandas as pd
df = pd.read_csv("troops.csv")

### reading ðŸ‘€

In [37]:
#read headers
df.columns
#read each column
df[["Name", "Damage", "Rarity"]]
#read each row
df.iloc[1:4]
#read specific location (r, c)
df.iloc[6, 1]
#printing each row
for index, row in df.iterrows():
    print(index, row["Name"])

0 Archers
1 Archer Queen
2 Baby Dragon
3 Balloon
4 Bandit
5 Barbarians
6 Bats
7 Battle Healer
8 Battle Ram
9 Bomber
10 Bowler
11 Cannon Cart
12 Cursed Hog
13 Dark Prince
14 Dart Goblin
15 Electro Dragon
16 Electro Giant
17 Electro Spirit
18 Electro Wizard
19 Elite Barbarians
20 Elixir Blob
21 Elixir Golem
22 Elixir Golemite
23 Executioner
24 Firecracker
25 Fire Spirit
26 Fisherman
27 Flying Machine
28 Giant
29 Giant Skeleton
30 Goblin Brawler
31 Goblin Gang
32 Goblin Giant
33 Goblins
34 Golden Knight
35 Golem
36 Golemite
37 Guardienne
38 Guards
39 Hog Rider
40 Hunter
41 Heal Spirit
42 Ice Golem
43 Ice Spirit
44 Ice Wizard
45 Inferno Dragon
46 Knight
47 Lava Hound
48 Lava Pup
49 Little Prince
50 Lumberjack
51 Magic Archer
52 Mega Knight
53 Mega Minion
54 Mighty Miner
55 Miner
56 Mini P.E.K.K.A.
57 Minion Horde
58 Minions
59 Monk
60 Mother Witch
61 Musketeer
62 Night Witch
63 P.E.K.K.A.
64 Phoenix
65 Reborn Phoenix
66 Prince
67 Princess
68 Ram Rider
69 Rascal Boy
70 Rascal Girl
71 Royal Ghost
72 Royal Giant
73 Royal Hogs
74 Royal Recruits
75 Skeleton Army
76 Skeleton Barrel
77 Skeleton Dragons
78 Skeleton King
79 Skeletons
80 Sparky
81 Spear Goblins
82 Three Musketeers
83 Valkyrie
84 Wall Breakers
85 Witch
86 Wizard
87 Zappies

In [38]:
#show rows conditionally
df.loc[df["Rarity"] == "Champion"]

,Unnamed: 0,Name,Elixir Cost,Hitpoints,Damage,Hit Speed,DPS,Type,Rarity
1,1,Archer Queen,5 (1),"1,000",225,1.2,187,Troop,Champion
34,34,Golden Knight,4 (1),"1,800",160,0.9,177,Troop,Champion
37,37,Guardienne,NaN,"1,600",200,1.2,166,Troop,Champion
49,49,Little Prince,3 (3),700,100,1.2/0.8/0.4,91/125/250,Troop,Champion
54,54,Mighty Miner,4 (1),"2,250",40-400,0.4,100-1000,Troop,Champion
59,59,Monk,5 (1),"2,150",140/420,0.8,175,Troop,Champion
78,78,Skeleton King,4 (2),"2,300",205,1.6,128,Troop,Champion

### sorting + describing

In [40]:
df.describe()
df.sort_values("Elixir Cost", ascending=True) # we can also pass a list of values to sort by

,Unnamed: 0,Name,Elixir Cost,Hitpoints,Damage,Hit Speed,DPS,Type,Rarity
41,41,Heal Spirit,1,231,110,NaN,NaN,Troop,Rare
79,79,Skeletons,1,81,81,1,81,Troop,Common
25,25,Fire Spirit,1,230,207,NaN,NaN,Troop,Common
43,43,Ice Spirit,1,230,110,NaN,NaN,Troop,Common
17,17,Electro Spirit,1,230,99 (x9),NaN,NaN,Troop,Common
...,...,...,...,...,...,...,...,...,...
20,20,Elixir Blob,NaN,360,63,1.1,57,Troop,Rare
22,22,Elixir Golemite,NaN,763,127,1.1,115,Troop,Rare
36,36,Golemite,NaN,"1,040",49,2.5,19.6,Troop,Epic
37,37,Guardienne,NaN,"1,600",200,1.2,166,Troop,Champion
48,48,Lava Pup,NaN,216,90,1.7,52,Troop,Legendary

### making changes

In [58]:
#make changes to instance of dataframe 
df["Hit Speed"] = pd.to_numeric(df["Hit Speed"], errors="coerce")
df["Damage"] = pd.to_numeric(df["Damage"], errors="coerce")
df["DPS"] = pd.to_numeric(df["DPS"], errors="coerce")

df["rawDPS"] = df["Damage"]/df["Hit Speed"]
df["delta"] = abs(df["rawDPS"]-df["DPS"])

df.head(10)

,Unnamed: 0,Name,Elixir Cost,Hitpoints,Damage,Hit Speed,DPS,Type,Rarity,rawDPS,delta
0,0,Archers,3,304,107.0,0.9,118.0,Troop,Common,118.888889,0.888889
1,1,Archer Queen,5 (1),"1,000",225.0,1.2,187.0,Troop,Champion,187.500000,0.500000
2,2,Baby Dragon,4,"1,152",160.0,1.5,106.0,Troop,Epic,106.666667,0.666667
3,3,Balloon,5,"1,680",640.0,2.0,320.0,Troop,Epic,320.000000,0.000000
4,4,Bandit,3,907,193.0,1.0,193.0,Troop,Legendary,193.000000,0.000000
5,5,Barbarians,5,670,192.0,1.3,147.0,Troop,Common,147.692308,0.692308
6,6,Bats,2,81,81.0,1.3,62.0,Troop,Common,62.307692,0.307692
7,7,Battle Healer,4,"1,717",148.0,1.5,98.0,Troop,Rare,98.666667,0.666667
8,8,Battle Ram,4,966,286.0,NaN,NaN,Troop,Rare,NaN,NaN
9,9,Bomber,2,332,230.0,1.8,128.0,Troop,Common,127.777778,0.222222

### advanced filterng

In [70]:
df.loc[(df["Rarity"] == "Legendary") | (df["Elixir Cost"] == "3")]
# 3 elixir legendary cards that do more than 100 dmg
df.loc[(df["Rarity"] == "Legendary") & (df["Elixir Cost"] == "3") & (df["Damage"] > 100)]

,Unnamed: 0,Name,Elixir Cost,Hitpoints,Damage,Hit Speed,DPS,Type,Rarity,rawDPS,delta
4,4,Bandit,3,907,193.0,1.0,193.0,Troop,Legendary,193.000000,0.000000
26,26,Fisherman,3,871,193.0,1.3,148.0,Troop,Legendary,148.461538,0.461538
67,67,Princess,3,261,169.0,3.0,56.0,Troop,Legendary,56.333333,0.333333
71,71,Royal Ghost,3,"1,210",261.0,1.8,145.0,Troop,Legendary,145.000000,0.000000

In [81]:
#using literal strings
df.loc[df["Name"].str.contains("Goblin")]
#using regex
import re
df.loc[df["Name"].str.contains('fire|ice', flags=re.IGNORECASE,  regex=True)]

,Unnamed: 0,Name,Elixir Cost,Hitpoints,Damage,Hit Speed,DPS,Type,Rarity,rawDPS,delta
24,24,Firecracker,3,304,NaN,3.0,106.0,Troop,Common,NaN,NaN
25,25,Fire Spirit,1,230,207.0,NaN,NaN,Troop,Common,NaN,NaN
42,42,Ice Golem,2,"1,197",84.0,2.5,33.0,Troop,Rare,33.600000,0.600000
43,43,Ice Spirit,1,230,110.0,NaN,NaN,Troop,Common,NaN,NaN
44,44,Ice Wizard,3,688,90.0,1.7,52.0,Troop,Legendary,52.941176,0.941176

In [93]:
wiz = df.loc[df["Name"].str.contains('[a-z]*wizard', flags=re.IGNORECASE, regex=True)]
wiz

,Unnamed: 0,Name,Elixir Cost,Hitpoints,Damage,Hit Speed,DPS,Type,Rarity,rawDPS,delta
18,18,Electro Wizard,4,713,NaN,1.8,122.0,Troop,Legendary,NaN,NaN
44,44,Ice Wizard,3,688,90.0,1.7,52.0,Troop,Legendary,52.941176,0.941176
86,86,Wizard,5,720,281.0,1.4,200.0,Troop,Rare,200.714286,0.714286

### aggergating stats ðŸ¤“

In [102]:
wiz["DPS"].mean()
#wizard op

124.66666666666667

In [97]:
wiz["DPS"].sum()

374.0

In [100]:
df.count()

Unnamed: 0     88
Name           88
Elixir Cost    82
Hitpoints      88
Damage         74
Hit Speed      78
DPS            73
Type           88
Rarity         88
rawDPS         67
delta          67
dtype: int64